to: receiver@example.com
error_to: admin@example.com
exception_notifier:
  subject_label: "[git-utils]"
sender: sender@example.com
add_html: true
owners:
  mroonga:
    to: groonga-mysql-commit@lists.sourceforge.jp
    repositories:
      examples:
        to: null@example.com
  groonga:
    to: groonga-commit@lists.sourceforge.jp
